
= simple_form_for @benefit, html: { multipart: true } do |f|
	- if @benefit.errors.any?
		#errors
			%h2
				= pluralize(@benefit.errors.count, "error")
				prevented this benefit from saving
			%ul
				- @benefit.errors.full_messages.each do |msg|
					%li= msg
	.form-group
		= f.input :image, input_html: { class: 'form-control' }
		
	.form-group
		= f.input :title, input_html: { class: 'form-control' }

	.form-group
		= f.input :description, input_html: { class: 'form-control' }
	
	%p Categories:
	.form-group
		= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cbi|
			= cbi.label(class: "checkbox-inline input_checkbox") {cbi.check_box(class: "checkbox") +cbi.text}
			&nbsp
	

	= f.button :submit, class: "btn btn-primary"