.benpage
    .page
        %ul.nav.nav-pills.nav-justified.benbar
            %li= link_to "All", benefits_path
            - Category.all.each do |cat|
                %li= link_to cat.name, category_path(cat)
            %br
            
            = form_tag benefits_path, :method => 'get' do
                %p= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for a benefit ..."
            %h1 (Y)Our Benefits
            
            %br/
            - @benefits.each do |benefit|
                .col-sm-2.col-md-4
                    .thumbnail
                        = link_to (image_tag benefit.image.url), benefit
                        %h3= link_to benefit.title, benefit
                            
            %br
        = link_to "See All our Partners", partners_path, class: "btn btn-default btn-partners"
        - if current_user.try(:admin?)
            = link_to "New Benefit", new_benefit_path, class: "btn btn-default"