<div id="title">
  <h2>Build Culture Through Meaningful Benefits</h3>
  <h4>Try our benefits program free of charge for 2 months</h4>
  <h4>and see the what our benefits can do for you</h4>
  <button type="submit" class="btn btn-success">Free Trial</button>
</div>

<div class="row">
  <div>
    <h3>What we can do for you</h3>
  </div>
  <br/>
  <div>
    <div class="col-lg-4">
        <%= image_tag("target.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Benefits
      </h2>
      <h3 class="left">
        Inspire great performance with a Rewards product that allows you to easily recognize your employees for noteworthy achievements.
      </h3>
    </div>
    <div class="col-lg-4">
        <%= image_tag("diamond.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        401k Packages
      </h2>
      <h3 class="left">
        Add ease and fun to your employees' lives by offering them preferred pricing on hundreds of products and services nationwide. Perks don't expire and can recur monthly.
      </h3>
    </div>
    <div class="col-lg-4">
        <%= image_tag("graph.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Analytics
      </h2>
      <h3 class="left">
        Measure the value you're adding to the company. Track employee savings and use redemption stats to identify the most popular perk categories.
      </h3>
    </div>
  </div>
</div>

<div class="row1">
  <div>
    <h3>Some of our Recent Perks</h3>
  </div>
  <br/>
  <div>
    <div class="col-lg-3">
        <%= image_tag("graph.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Benefits
      </h2>
      <h3 class="left">
        Inspire great performance with a Rewards product that allows you to easily recognize your employees for noteworthy achievements.
      </h3>
    </div>
    <div class="col-lg-3">
        <%= image_tag("graph.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        401k Packages
      </h2>
      <h3 class="left">
        Add ease and fun to your employees' lives by offering them preferred pricing on hundreds of products and services nationwide. Perks don't expire and can recur monthly.
      </h3>
    </div>
    <div class="col-lg-3">
        <%= image_tag("graph.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Analytics
      </h2>
      <h3 class="left">
        Measure the value you're adding to the company. Track employee savings and use redemption stats to identify the most popular perk categories.
      </h3>
    </div>
    <div class="col-lg-3">
        <%= image_tag("graph.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Analytics
      </h2>
      <h3 class="left">
        Measure the value you're adding to the company. Track employee savings and use redemption stats to identify the most popular perk categories.
      </h3>
    </div>
  </div>
</div>

<div class="row">
  <div>
    <h3>Our Partners</h3>
  </div>
  <br/>
  <div>
    <div class="col-lg-2">
        <%= image_tag("diamond.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Company1
      </h2>
    </div>
    <div class="col-lg-2">
        <%= image_tag("diamond.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Company2
      </h2>
    </div>
    <div class="col-lg-2">
        <%= image_tag("diamond.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Company3
      </h2>
    </div>
    <div class="col-lg-2">
        <%= image_tag("diamond.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Company4
      </h2>
    </div>
    <div class="col-lg-2">
        <%= image_tag("diamond.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Company5
      </h2>
    </div>
    <div class="col-lg-2">
        <%= image_tag("diamond.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Company6
      </h2>
    </div>
  </div>
</div>




